.noticia {
    background-color: lightgray;
    padding: 30px;
}

.noticia__titulo {
    text-transform: lowercase;
}

.noticia--destacada {
    background-color: dimgray;
}

.noticia__titulo--uppercase {
    text-transform: uppercase;
}

.texto {
    width: 100px;
    height: 150px;
    background-color: yellow;
    border: dotted 2px #ff00ae;
    margin: 5px 8px;
    padding: 6px 9px;
    overflow: auto;
    overflow-x: hidden;
}

.texto2 {
    margin: 10px;
    background-color: red;
}

.texto3 {
    margin: 20px;
    background-color: pink;
}

.css-awesome {
    /* propriedades decorativas */
    /* border: solid 1px black; */
    border: dashed 5px #345678;
    border-radius: 50px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    /* propriedades que fazem o "problema" */
    width: 100px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;

    padding: 10px 20px 30px 40px;
}