.animado {
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid 1px;
}

div {
    position: relative;
    left: 200px;
    top: 50px;
}

div:not(.animado) {
    border: solid 1px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 207px;
    top: 57px;
}

@keyframes animacao {
    from {}

    to {
        /* testar propriedades */
        transform: skewY(25deg)
    }
}

.animado {
    animation: animacao 1s linear 2s infinite alternate;
}