.pai-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row wrap-reverse; */

    align-content: center;
    /* justify-content: center; */

    border: 1px solid red;
    height: 600px;
    width: 300px;
}

.filho {
    width: 100px;
    height: 100px;
    border: 1px dotted red;
}

#filho1 {
    background-color: pink;
    order: 3;
}

#filho2 {
    background-color: aqua;
    order: 1;
}

#filho3 {
    background-color: green;
    order: 4;
}

#filho4 {
    background-color: yellow;
    order: 5;
}

#filho5 {
    background-color: blueviolet;
    order: 2;
}