.container {
    display: flex;
}

.item {
    border: 1px solid red;
    color: green;
}

header,
footer {
    background-color: yellow;
    height: 120px;
}

nav {
    background-color: black;
    width: 20%;
    height: 300px;
}

aside {
    background-color: gray;
    width: 20%;
}

article {
    background-color: antiquewhite;
    width: 60%;
}