.grid {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 3fr 1fr;
    gap: 10px;
}

#layout {
    display: grid;
    grid-template-columns: 200px auto 150px;
    grid-template-rows: 100px 200px 200px 75px;
    grid-template-areas:
        ". header header"
        "nav produtos publicidade"
        "nav servicos publicidade"
        "nav none footer";
}

#header {
    grid-area: header;
    background-color: aqua;
    /* justify-self: start;
    align-self: end; */
}

#nav {
    grid-area: nav;
    background-color: blueviolet;
}

#produtos {
    grid-area: produtos;
    background-color: blue;
}

#servicos {
    grid-area: servicos;
    background-color: red;
}

#publi {
    grid-area: publicidade;
    background-color: green;
}

#rodape {
    grid-area: footer;
    background-color: yellow;
}




#exercicio {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100px 400px 100px;
    grid-template-areas:
        "head head"
        "menu sec"
        "menu foot";
    gap: 10px;
    justify-content: space-between;
}

#head {
    grid-area: head;
    background-color: green;
}

#menu {
    grid-area: menu;
    background-color: palevioletred;
}

#sec {
    grid-area: sec;
    background-color: orange;
}

#foot {
    grid-area: foot;
    background-color: aquamarine;
}